header {
    min-height: 4em;
    background: var(--main-bg-color);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--content-width);
    height: 100%;
    padding: var(--container-padding);
    margin: 0 auto;
}

.header-logo,
.header-description {
    font-size: 1.5em;
    color: var(--color-logo);
}

.header-logo {
    display: flex;
    flex-direction: column;
}

.header-logo-text {
    font-size: 1.5em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-logo);
    border-top: 0.1em solid var(--color-logo);
    border-bottom: 0.1em solid var(--color-logo);
    margin-bottom: 0.2em;
}

@media screen and (max-width: 767px) {
    header {
        z-index: 9;
        position: sticky;
        top: 0;
        height: 5.5em;
    }

    .header-logo, .header-description {
        font-size: 1em;
    }
}
