footer {
    min-height: 2em;
    background: var(--main-bg-color);
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--content-width);
    height: 100%;
    padding: var(--container-padding);
    margin: 0 auto;
}

.footer-logo,
.footer-description {
    font-size: 1em;
    color: var(--color-logo);
}

.footer-description a {
    color: var(--color-logo);
}

.footer-description a:hover {
    text-decoration: none;
}

.footer-logo {
    display: flex;
    flex-direction: column;
}

.footer-logo-text {
    font-size: 1em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-logo);
    border-top: 0.1em solid var(--color-logo);
    border-bottom: 0.1em solid var(--color-logo);
    margin-bottom: 0.2em;
}

@media screen and (max-width: 467px) {
    .footer-logo, .footer-description {
        font-size: 0.8em;
    }
}
