.bread-crumbs-container {
    display: flex;
    align-items: center;
}

.bread-crumb-link {
    font-size: 0.8em;
    text-decoration: none;
    color: var(--main-bg-color);
}

.bread-crumb-link:hover {
    opacity: 0.7;
}

.bread-crumb-link::after {
    content: '>';
    margin: 0 0.3em;
    font-size: 0.8em;
}

.bread-crumb-link:last-child::after {
    display: none;
}